# Gemeinsamer Testschluessel fuer Demo- und Integrationszwecke.
# Nicht fuer Produktion verwenden.
T2DEMO_API_KEY=7QwA7931lJSQfMKuTH4MQXLn4YEiNhE5tggnYKlY4HE

# Optionale Variablen fuer lokale Integrationstests
FHIR_BASE_URL=https://127.0.0.1:16567/aps/fhir/api
FHIR_KONTEXT_ID=<KONTEXT_ID>
FHIR_OAUTH_TOKEN=<OAUTH_TOKEN>
FHIR_API_KEY=7QwA7931lJSQfMKuTH4MQXLn4YEiNhE5tggnYKlY4HE
